<div class="d-flex flex-wrap py-2 px-2 mb-2 shadow-ms border rounded bg-white align-items-center">
  <div class="col-12 col-md-3">
    <%= loan.code %>
  </div>
  <div class="col-12 col-md-2">
    $ <%= loan.amount %>
  </div>
  <div class="col-12 col-md-2">
    <h5><span class="badge bg-secondary"><%= loan.status %></span></h5>
  </div>
  <div class="col-12 col-md-3">
    <%= loan.account.code %>
  </div>
  <div class="col-12 col-md-2">
    <div class="d-flex gap-2">
      <!-- This shows available trigger buttons for every acccount -->
      <% available_events_for(loan).each do |event| %>
        <%= button_to "#{event}", trigger_account_loan_path(loan.account, loan, event: event), method: :patch, data: { turbo_confirm: "Esta seguro?" }, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
