<div class="d-flex flex-wrap py-2 px-2 mb-2 shadow-ms border rounded bg-white align-items-center">
  <div class="col-12 col-md-3">
    <%= loan.code %>
  </div>
  <div class="col-12 col-md-1">
    $ <%= loan.amount %>
  </div>
  <div class="col-12 col-md-2">
    <h5><span class="badge bg-secondary"><%= loan.status %></span></h5>
  </div>
  <div class="col-12 col-md-2">
    <%= loan.account.user.email %>
  </div>
  <div class="col-12 col-md-3">
    <%= loan.account.code %>
  </div>
  <div class="col-12 col-md-1">
    <div class="d-flex gap-2">
      <!-- This shows available trigger buttons for every acccount -->
      <%= button_to "#Evento", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>
