<!-- Partial to show account transaction items -->

<%= turbo_frame_tag transaction do %>
  <div class="d-flex flex-wrap py-3 px-2 border rounded mb-2 shadow-sm bg-white">
    <div class="col-12 col-md-1">
      <%= transaction.transaction_type %>
    </div>
    <div class="col-12 col-md-2">
      $ <%= transaction.amount %>
    </div>
    <div class="col-12 col-md-3">
      <%= transaction.code %>
    </div>
    <div class="col-12 col-md-3">
      <%= transaction.created_at %>
    </div>
    <div class="col-12 col-md-3">
      <% if !transaction.options.blank? %>
      <%= transaction.options["target_account"] if !transaction.options["target_account"].nil? %>
      <%= transaction.options["from_account"] if !transaction.options["from_account"].nil? %>
      <%= transaction.options["from_loan"] if !transaction.options["from_loan"].nil? %>
      <% end %>
    </div>
  </div>
<% end %>
