<!-- Partial to show account transaction items -->
<tr>
  <td><%= transaction.transaction_type %></td>
  <td>$ <%= transaction.amount %></td>
  <td><%= transaction.code %></td>
  <td><%= transaction.created_at %></td>
  <td><%= transaction.options %></td>
</tr>
