<div class="d-flex justify-content-between mt-4 align-items-center">
  <h2>Cuentas</h2>
  <%= link_to "Nueva cuenta", new_account_path, class: "btn btn-danger" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Codigo</th>
      <th scope="col">Monto</th>
      <th scope="col">Estado</th>
      <th scope="col">Usuario</th>
      <th scope="col">Prestamos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
    <tr>
      <th scope="row"><%= account.id %></th>
      <td scope="col"><%= account.code %></td>
      <td scope="col">$ <%= account.current_amount %></td>
      <td scope="col"><span class="badge bg-secondary"><%= account.status %></span></td>
      <td scope="col"><%= account.user.email %></td>
      <td scope="col"><%= account.loans.count %></td>
      <td scope="col">
        <div class="d-flex gap-2">
          <%= link_to "Editar", edit_account_path(account), class: "btn btn-secondary" %>
          <%= button_to "Eliminar", account_path(account), method: :delete, data: { turbo_confirm: "Esta seguro?" }, class: "btn btn-danger" %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
