<h2><%= @account.user.email %></h2>

<!-- Encabezado -->
<section>
  <div class="col-12 col-md-6 mb-4">
    <div class="card text-bg-primary shadow">
      <div class="card-body">
        <h5 class="card-title">Mi cuenta</h5>
        <p class="card-text">Cuenta No. <%= @account.code %></p>
        <h3>$ <%= @account.current_amount %></h3>
      </div>
    </div>
  </div>
</section>

<!-- Transacciones -->
<section>
  <div class="d-flex flex-wrap justify-content-between">
    <h3>Transacciones</h3>
    <div class="d-flex gap-2 align-items-center">
      <%= link_to "Deposito", deposit_account_transaction_path(@account), class: "btn btn-secondary" %>
      <%= link_to "Transferencia", transfer_account_transaction_path(@account), class: "btn btn-success" %>
      <%= link_to "Retiro", withdraw_account_transaction_path(@account), class: "btn btn-warning" %>
    </div>
  </div>

  <div class="overflow-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Monto</th>
          <th scope="col">Codigo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Render @transactions with transaction partial -->
        <%= render @transactions %>
      </tbody>
    </table>
  </div>
</section>

<!-- Prestamos -->
<section>
  <div class="d-flex flex-wrap justify-content-between">
    <h3>Prestamos</h3>
    <div class="d-flex gap-2">
      <%= button_to "Solicita tu prestamo", "#", class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="overflow-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Monto</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
