<h2><%= @account.user.email %></h2>

<!-- Encabezado -->
<section>
  <div class="col-12 col-md-6 mb-4">
    <div class="card text-bg-primary shadow">
      <div class="card-body">
        <h5 class="card-title">Mi cuenta</h5>
        <p class="card-text">Cuenta No. <%= @account.code %></p>
        <h3>$ <%= @account.current_amount %></h3>
      </div>
    </div>
  </div>
</section>

<!-- Transacciones -->
<section>
  <div class="d-flex flex-wrap justify-content-between">
    <h3>Transacciones</h3>
    <div class="d-flex gap-2">
      <%= button_to "Deposito", "#", class: "btn btn-secondary" %>
      <%= button_to "Transferencia", "#", class: "btn btn-success" %>
      <%= button_to "Retiro", "#", class: "btn btn-warning" %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo</th>
        <th scope="col">Monto</th>
        <th scope="col">Codigo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Prestamos -->
<section>
  <div class="d-flex flex-wrap justify-content-between">
    <h3>Prestamos</h3>
    <div class="d-flex gap-2">
      <%= button_to "Solicita tu prestamo", "#", class: "btn btn-secondary" %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Monto</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</section>
